# DESCRIPTION: gitignore file for iOS-based projects using CocoaPods
# AUTHOR:      Connor Grady (connorgrady.com)
# SOURCE:      https://gist.github.com/itsjustcon/6965920
# PROJECT:     Ionicons-objc

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

# CocoaPods
Pods
Podfile.lock
*.xcworkspace
